In [61]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
     
df = pd.read_csv("UpdatedDengue Fever.csv")
df.head(10)

,sub_id,sex,age,wgt,Height (in meter ),Body Mass Index (BMI),fever,platelet,hemato,wbc,...,s_rash,headache,abdo_pain,vomit,bleed,ns1_anti,igm_anti,igg_anti,hospi,target
0,DEN_0001,M,36,14,NaN,NaN,1,20000,40,6000,...,0,1,1,1,0,0,1,1,1,1
1,DEN_0002,M,48,15,NaN,NaN,1,18000,38,5500,...,0,0,0,1,0,1,0,0,1,1
2,DEN_0003,F,24,12,NaN,NaN,1,13000,45,6300,...,0,1,0,1,0,1,0,0,1,1
3,DEN_0004,M,13,8,NaN,NaN,0,35000,29,7025,...,0,1,0,0,1,1,0,0,1,1
4,DEN_0005,F,19,10,NaN,NaN,0,50000,40,5000,...,0,0,1,0,0,0,0,0,0,0
5,DEN_0006,M,21,11,NaN,NaN,1,30000,24,4000,...,0,1,0,1,0,1,0,0,0,1
6,DEN_0007,F,18,12,NaN,NaN,1,60000,40,8000,...,0,1,0,0,0,0,0,0,0,0
7,DEN_0008,M,30,13,NaN,NaN,1,20000,30,3500,...,0,0,0,1,1,0,1,0,1,1
8,DEN_0009,M,15,11,NaN,NaN,1,30000,25,3000,...,0,1,1,1,0,1,0,0,1,1
9,DEN_0010,F,48,14,NaN,NaN,1,50000,42,7000,...,0,1,0,0,0,0,0,0,0,0

In [62]:
df.columns = df.columns.str.replace(' ', '_').str.lower()
print(df.columns)

Index(['sub_id', 'sex', 'age', 'wgt', 'height_(in_meter_)',
       'body_mass_index_(bmi)', 'fever', 'platelet', 'hemato', 'wbc', 'j_pain',
       's_rash', 'headache_', 'abdo_pain', 'vomit', 'bleed', 'ns1_anti',
       'igm_anti', 'igg_anti', 'hospi', 'target'],
      dtype='object')

In [63]:
# Define a function to calculate height based on weight
def calculate_height(weight):
    height = weight * 10.0  #  Assume height is 10 times the weight
    return height

df['height_(in_meter_)'] = df['wgt'].apply(calculate_height)

In [64]:
# Define a function to calculate BMI
def calculate_bmi(row):
    weight_kg = row['wgt']  # Replace with your weight column name
    height_m = row['height_(in_meter_)']  # Replace with your height column name
    
    # Calculate BMI
    bmi = weight_kg / (height_m ** 2)
    return bmi

# Apply the calculate_bmi function to create a new 'body_mass_index_(bmi)' column
df['body_mass_index_(bmi)'] = df.apply(calculate_bmi, axis=1)

In [65]:
df.head(10)

,sub_id,sex,age,wgt,height_(in_meter_),body_mass_index_(bmi),fever,platelet,hemato,wbc,...,s_rash,headache_,abdo_pain,vomit,bleed,ns1_anti,igm_anti,igg_anti,hospi,target
0,DEN_0001,M,36,14,140.0,0.000714,1,20000,40,6000,...,0,1,1,1,0,0,1,1,1,1
1,DEN_0002,M,48,15,150.0,0.000667,1,18000,38,5500,...,0,0,0,1,0,1,0,0,1,1
2,DEN_0003,F,24,12,120.0,0.000833,1,13000,45,6300,...,0,1,0,1,0,1,0,0,1,1
3,DEN_0004,M,13,8,80.0,0.001250,0,35000,29,7025,...,0,1,0,0,1,1,0,0,1,1
4,DEN_0005,F,19,10,100.0,0.001000,0,50000,40,5000,...,0,0,1,0,0,0,0,0,0,0
5,DEN_0006,M,21,11,110.0,0.000909,1,30000,24,4000,...,0,1,0,1,0,1,0,0,0,1
6,DEN_0007,F,18,12,120.0,0.000833,1,60000,40,8000,...,0,1,0,0,0,0,0,0,0,0
7,DEN_0008,M,30,13,130.0,0.000769,1,20000,30,3500,...,0,0,0,1,1,0,1,0,1,1
8,DEN_0009,M,15,11,110.0,0.000909,1,30000,25,3000,...,0,1,1,1,0,1,0,0,1,1
9,DEN_0010,F,48,14,140.0,0.000714,1,50000,42,7000,...,0,1,0,0,0,0,0,0,0,0

In [66]:
df_encoded = pd.get_dummies(df, columns=['sex'], prefix=['sex'])

# Convert the boolean columns to numeric (1 and 0)
df_encoded['sex_F'] = df_encoded['sex_F'].astype(int)
df_encoded['sex_M'] = df_encoded['sex_M'].astype(int)

# # Add the 'sex_F' and 'sex_M' columns back to the original dataset
df['sex_F'] = df_encoded['sex_F']
df['sex_M'] = df_encoded['sex_M']

In [67]:
df.head(5)

,sub_id,sex,age,wgt,height_(in_meter_),body_mass_index_(bmi),fever,platelet,hemato,wbc,...,abdo_pain,vomit,bleed,ns1_anti,igm_anti,igg_anti,hospi,target,sex_F,sex_M
0,DEN_0001,M,36,14,140.0,0.000714,1,20000,40,6000,...,1,1,0,0,1,1,1,1,0,1
1,DEN_0002,M,48,15,150.0,0.000667,1,18000,38,5500,...,0,1,0,1,0,0,1,1,0,1
2,DEN_0003,F,24,12,120.0,0.000833,1,13000,45,6300,...,0,1,0,1,0,0,1,1,1,0
3,DEN_0004,M,13,8,80.0,0.001250,0,35000,29,7025,...,0,0,1,1,0,0,1,1,0,1
4,DEN_0005,F,19,10,100.0,0.001000,0,50000,40,5000,...,1,0,0,0,0,0,0,0,1,0

In [68]:
# Create a StandardScaler
from sklearn.preprocessing import StandardScaler
continuous_features = ['age', 'wgt', 'height_(in_meter_)', 'body_mass_index_(bmi)', 'platelet', 'hemato', 'wbc']
scaler = StandardScaler()
df[continuous_features] = scaler.fit_transform(df[continuous_features])

In [69]:
df.drop(columns=['sex','sub_id'], inplace=True)

In [70]:
df.head(10)

,age,wgt,height_(in_meter_),body_mass_index_(bmi),fever,platelet,hemato,wbc,j_pain,s_rash,...,abdo_pain,vomit,bleed,ns1_anti,igm_anti,igg_anti,hospi,target,sex_F,sex_M
0,-0.967218,-1.126690,-1.126690,0.922033,1,-0.568254,1.135859,1.045104,1,0,...,1,1,0,0,1,1,1,1,0,1
1,-0.677227,-0.913221,-0.913221,0.643591,1,-0.666892,0.869850,0.796406,0,0,...,0,1,0,1,0,0,1,1,0,1
2,-1.257210,-1.553628,-1.553628,1.618137,1,-0.913488,1.800882,1.194323,1,0,...,0,1,0,1,0,0,1,1,1,0
3,-1.523035,-2.407505,-2.407505,4.054501,0,0.171532,-0.327191,1.554935,0,0,...,0,0,1,1,0,0,1,1,0,1
4,-1.378040,-1.980566,-1.980566,2.592683,0,0.911318,1.135859,0.547708,1,0,...,1,0,0,0,0,0,0,0,1,0
5,-1.329708,-1.767097,-1.767097,2.061112,1,-0.075064,-0.992214,0.050312,0,0,...,0,1,0,1,0,0,0,1,0,1
6,-1.402206,-1.553628,-1.553628,1.618137,1,1.404509,1.135859,2.039896,1,0,...,0,0,0,0,0,0,0,0,1,0
7,-1.112214,-1.340159,-1.340159,1.243312,1,-0.568254,-0.194187,-0.198386,1,0,...,0,1,1,0,1,0,1,1,0,1
8,-1.474704,-1.767097,-1.767097,2.061112,1,-0.075064,-0.859210,-0.447084,0,0,...,1,1,0,1,0,0,1,1,0,1
9,-0.677227,-1.126690,-1.126690,0.922033,1,0.911318,1.401868,1.542500,0,0,...,0,0,0,0,0,0,0,0,1,0

In [91]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier


# Define the features (X) and target variable (y)
X = df.drop(columns=['target'])  # Replace 'target' with your target column name
y = df['target']

# Xtrain, Xtest, ytrain, ytest = train_test_split(X[:3000], y[:3000], test_size=0.10)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.10, random_state=42)
# random_model = RandomForestRegressor(n_estimators=300, random_state = 42, n_jobs = -1)

model = RandomForestClassifier(n_estimators=300, random_state = 42, n_jobs = -1)

#Fit
model.fit(X_train,  y_train)
y_pred = model.predict(X_test)

#Checking the accuracy trained data
model_accuracy = round(model.score(X_train, y_train)*100,2)
print(round(model_accuracy, 2), '%')

100.0 %

In [95]:
#Checking the accuracy test data
random_model_accuracy1 = round(model.score(X_test, y_test)*100,2)
print(round(random_model_accuracy1, 2), '%')

96.0 %